# BUSINESS UNDERSTANDING

 ## BUSINESS PROBLEM
 Your company is expanding into new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.

### Overview of Business Understanding
This project aims  to solve  potential risks in the aircraft business. The company aims at reducing risk and uncertainty in the company as the company aims at expanding the business. Since the company has no prior experience in the potential risk of aircraft, the business aims at coming up with the lowest risk aircraft that are safe to them and additionally profitable to the business.


### The 3 main business questions for solving  the problem in this data will be:
1. Which type of aircraft and model has the highest accident/fatality rates?
2. How serious are incidents by aircraft type?
3. Which aircraft has the lowest risk in terms of accidents?


The goal of this project is to help top management and relevant stakeholders like the risk department, finance, operations in the aviation industry to venture in more safer airctrafts that are less risk and more safe and that are still profitable to the business.

In conclusion, the goal of this project is to come up with safer and more profitable aircraft  as they expand in the aviation industry. The aim is to pin point aircrafts that do not pose financial risks and are of low operational risk. The findings of this project will help relevant stakeholders  in coming up with aircraft that are of low cost and low operational exposure. It will enable them to be safer, more strategic in the aviation industry.

 # DATA UNDERSTANDING

The data source for this project is Kaggle:  https://www.kaggle.com/datasets/anandkushawaha/aviation-crashed-flights-data?resource=download.
This data is suitable for this project because it identifies the problems encountered in the aircraft business, specifically in terms of operational and financial risk that is actually faced by stakeholders.

### Importing of libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading the data to understand it
df = pd.read_csv("flight.csv")
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [3]:
#checking the number of rows and columns
df.shape

(2500, 8)

In [4]:
#checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

### Summary of Data
The data contains 2500 rows and 8 columns. The data contains a dtype that needs to be cleaned to the correct data type and also contains missing values that need to be replaced.
The data is currently relevant as it relates to the business problem that we want to solve.I r t currently contains airctraft dataset.
Some of the limitations of this data will be: Having incorrect values, data being small and limited details in the data.

## DATA PREPATATION

## cleaning the data in our csv file

In [5]:
#checking null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

In [6]:
#seeing an overview statistical of our data
df.describe()

        Unnamed: 0
count  2500.000000
mean    624.500000
std     360.915993
min       0.000000
25%     312.000000
50%     624.500000
75%     937.000000
max    1249.000000

In [7]:
#checking how many missing values we have
df.isna().sum()

Unnamed: 0     0
acc.date       0
type           0
reg           92
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [8]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [9]:
#checking for duplicate values
df.duplicated().sum()

1250

#### cleaning the data per column

In [10]:
#cleaning nmissing in 'reg column'
#checking for unique values
print(df['reg'].unique())

['ZS-NRJ' 'HR-AYY' 'EP-CAP' ... '9T-TAB' 'N938UW' 'N337KL']

In [11]:
#viewing some of the middle data to see missing values
df[5:20]

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
5,5,16 Jan 2022,Airbus A320-214 (WL),JA24MC,Star Flyer,0,near Okayama City,non
6,6,19 Jan 2022,Cessna 208B Grand Caravan EX,YV3033,Mahan Air,0,"near Vakilabad, Arzuiyeh",sub
7,7,22 Jan 2022,Airbus A320-232,N760JB,JetBlue Airways,0,"Hayden-Yampa Valley Airport, CO (HDN)",sub
8,8,27 Jan 2022,Bombardier CL-600-2B16 Challenger 604,2-SLOW,Volare Aviation,0,Heraklion-N. Kazantzakis Airport (HER/LGIR),sub
9,9,31 Jan 2022,Bombardier CL-600-2B16 Challenger 604,N999PX,Lima Delta Co Trustee,0,London-Stansted Airport (STN),sub
10,10,31 Jan 2022,Beechcraft B300 King Air 350,C-GEAS,"Air Tindi, opf Royal Canadian Air Force - RCAF",0,"Thunder Bay Airport, ON (YQT)",sub
11,11,2 Feb 2022,Hawker 1000,N207K,Skyview LLC,0,"Islip-Long Island MacArthur Airport, NY (ISP)",sub
12,12,5 Feb 2022,Cessna 208B Grand Caravan,5H-TAZ,Care Aviation,0,New Fangak Airstrip,sub
13,13,7 Feb 2022,Embraer ERJ-190-100LR,OH-LKK,Finnair,0,København-Kastrup Airport (CPH),sub
14,14,8 Feb 2022,Antonov An-26,SP-402,South Sudanese Air Force,0,Agok Airstrip,sub
15,15,11 Feb 2022,Cessna 501 Citation I/SP,LV-JUO,Aviajet SA,0,"Morón-Ituzaingo Airport, BA",sub
16,16,11 Feb 2022,Antonov An-2R,RA-33599,Kamchatsky Krechet,2,"1 km SW of Koryaki, Yelizovsky district, Kamch...",w/o
17,17,14 Feb 2022,Let L-410UVP-E3,9S-GFA,Doren Air Congo,0,Bukavu-Kavumu Airport (BKY),w/o
18,18,15 Feb 2022,ATR 42-500,JA04JC,Japan Air Commuter,0,55 km NNW of Osaka Airport,non
19,19,15 Feb 2022,Britten-Norman BN-2A-9 Islander,N821RR,Air Flamenco,0,Culebra Airport (CPX),sub

In [12]:
#to rectify the nulls in the reg column
# since re is a unique number the issing values we will fill with 'unknown'
df['reg'] = df['reg'].fillna('UNKNOWN')

In [13]:
# making UNKNOW in small
df.loc[:,'reg'] = df['reg'].str.lower().replace('UKNOWN', 'Unknown')

In [14]:
#confirming if null values have been replaced
df.isna().sum()

Unnamed: 0     0
acc.date       0
type           0
reg            0
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [15]:
#checking for duplicates in reg column
df['reg'].duplicated().sum()

1305

In [16]:
#checking for duplicates  in row form
df[df['reg'].duplicated(keep=False)].sort_values('reg')

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
1502,252,2 Mar 2021,Let L-410UVP-E,(hk-4274),South Sudan Supreme Airlines,10,Pieri,w/o
252,252,2 Mar 2021,Let L-410UVP-E,(hk-4274),South Sudan Supreme Airlines,10,Pieri,w/o
2167,917,11 Nov 2019,British Aerospace BAe-125-700A,(n237dx),private,0,Petén,w/o
917,917,11 Nov 2019,British Aerospace BAe-125-700A,(n237dx),private,0,Petén,w/o
2190,940,6 Dec 2019,British Aerospace BAe-125-800A,(n293wb),private,0,"0,4 km NW of Chan Chen, Corozal",w/o
...,...,...,...,...,...,...,...,...
80,80,28 May 2022,Beechcraft B200 King Air,zs-pte,Unknown,0,near Lynedoch Private Airfield,sub
372,372,20 Sep 2021,Learjet 35A,zs-sfv,Impuma Group,0,Lanseria International Airport (HLA),sub
1622,372,20 Sep 2021,Learjet 35A,zs-sfv,Impuma Group,0,Lanseria International Airport (HLA),sub
570,570,14 Jul 2020,Boeing 737-8S3 (WL),zs-sjb,Mango,0,N of Durban,non
1820,570,14 Jul 2020,Boeing 737-8S3 (WL),zs-sjb,Mango,0,N of Durban,non

In [17]:
# removing duplicate data that are exact in rows and remaining with one unique valua
df = df.drop_duplicates()

In [18]:
#confriming duplicates again
df['reg'].duplicated().sum()

55

In [19]:
#checking duplicates data to see if there is need to remove them
df[df['reg'].duplicated(keep=False)].sort_values('reg')

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
1040,1040,12 Apr 2018,Cessna 208B Grand Caravan,5y-sav,Penial Air,0,"El Barde, Somalia - Wajir, Kenya",sub
594,594,16 Aug 2020,Cessna 208B Grand Caravan,5y-sav,City Link,0,New Fangak Airstrip,w/o
809,809,19 Jul 2019,de Havilland Canada DHC-8-402Q Dash 8,c-fkwe,WestJet Encore,0,"Edmonton International Airport, AB (YEG)",sub
463,463,31 Jan 2020,Bombardier DHC-8-402Q Dash 8,c-fkwe,WestJet Encore,0,"Terrace Airport, BC (YXT)",sub
936,936,2 Dec 2019,British Aerospace BAe-125-700A,false reg.,private,0,near San Andrés Villa Seca,w/o
...,...,...,...,...,...,...,...,...
764,764,18 May 2019,Gulfstream American G-1159 Gulfstream II SP,unreg.,private,0,"Chico de Chamorro, Retalhuleu",w/o
800,800,9 Jul 2019,Antonov An-2,unreg.,Unknown,0,"near Raduga, Novoaleksandrovsk District",sub
384,384,8 Oct 2021,Learjet 35A,unreg.,private,0,"near Little Belize, Corozal",w/o
989,989,1 Feb 2018,Airbus A330-202,vh-...,Qantas,0,"Sydney-Kingsford Smith International Airport, ...",non
1015,1015,22 Mar 2018,Airbus A320-232,vh-...,NaN,0,"near Cairns, QLD",non

In [20]:
df.isna().sum()

Unnamed: 0    0
acc.date      0
type          0
reg           0
operator      7
fat           6
location      0
dmg           0
dtype: int64

In [21]:
#cleaning the 'operator column.'
# Confirming missing value/null values in operators column
df.isna().sum()

Unnamed: 0    0
acc.date      0
type          0
reg           0
operator      7
fat           6
location      0
dmg           0
dtype: int64

In [22]:
#checking for unique values in operators column
print(df['operator'].unique())

['SA Airlink' 'LANHSA - Línea Aérea Nacional de Honduras S.A'
 'Caspian Airlines' 'Cainiao, opb Aviastar-TU' 'private' 'Star Flyer'
 'Mahan Air' 'JetBlue Airways' 'Volare Aviation' 'Lima Delta Co Trustee'
 'Air Tindi, opf Royal Canadian Air Force - RCAF' 'Skyview LLC'
 'Care Aviation' 'Finnair' 'South Sudanese Air Force' 'Aviajet SA'
 'Kamchatsky Krechet' 'Doren Air Congo' 'Japan Air Commuter'
 'Air Flamenco' 'Colcharter' 'Eclipse Transport LLC'
 'Bald Mountain Air Services' 'Roper Aviation LLC' 'Air Serv Limited'
 'Taraz Zhana Alem' 'Antonov Airlines' 'GoJump Oceanside'
 'Russian Air Force' 'Ukraine Air Force' 'AB Aviation' 'Revolution Flight'
 'American Eagle, opb Republic Airlines' 'Spirit Avia Sentosa'
 'China Naval Air Force - Unit 92967' 'Flyzar' 'Ryanair'
 'Indian Coast Guard' 'HLAF AETA LLC' 'Ozark Air Services' 'Bamaji Air'
 'Jet It LLC' 'Bocas Air' 'Martinaire' 'China Eastern Airlines'
 'Japan Airlines (JAL)' "Skydive Costa d'Argento, lsf Gladwings"
 'TAG Airlines' 'Georgia Crown Distributing Co.' 'DHL Aero Expreso'
 'ALIANSA Colombia' 'Thunder Airlines' 'Servicio Aéreo de Policia'
 'Gem Air' 'Denver Air Connection' 'VOAR Cooperativa' 'GP Aviation LLC'
 'Constanta Airlines' 'Freight Runners Express'
 "Centre Ecole de Parachutisme Sportif de l'Ariège" 'SpiceJet'
 'Air Cargo Carriers' 'Sociedad De Transporte Aéreo Movi Air SPA'
 'Blue Air' 'SAS Scandinavian Airlines'
 'Caverton Helicopters (Cameroun) Ltd.'
 'LBK Serviço Aéreo Especializado, opf Skydive4Fun' 'Tibet Airlines'
 'Sales Taxi Aéreo' 'Southwest Airlines' 'Yakutat Coastal Airlines'
 'United Airlines' 'Etihad Airways' 'Unknown' 'Tara Air'
 'Kam Aviation LLC' 'Connecticut Parachutists' 'Alaskan Air Charter'
 'Pacific Dental Services' nan 'Northern Meridian LLC'
 'ASL - Air Service Liege' 'Gomair' 'Air France' 'ITA Airways' 'RED Air'
 'Techservice' 'NPP Mir' 'Icon Aviation'
 'All Nippon Airways - ANA, opb ANA Wings' 'Alaska Seaplanes'
 'Voskhod LLC' 'Motor Sich' 'Flying America SA'
 'Alpha Star Aviation Services' 'Corporate Air'
 'Aircraft Management Group, Inc' 'Solaseed Air' 'Meridian'
 'Jubba Airways' 'Wizz Air' 'Anderson Air' 'Crop Protection Company'
 'Delta Air Lines' 'Avianca' 'VistaJet' "Rust's Flying Service"
 'Rampart Aviation' 'Nok Air' 'Qatar Airways Cargo'
 'Brasil Vida Táxi Aéreo' 'Raber Flight Services, LLC' 'Angara Airlines'
 'PACC Air' 'Smart Cakrawala Aviation' 'Private' 'TAP Air Portugal'
 '2nd Arkhangelsk United Aviation Division' 'SkyForce' 'AeroLogic'
 'Friday Harbor Seaplane Tours' 'GG Rent' 'BVS, Inc'
 'Strategic Airborne Operations' 'TAC9 Inc.' 'TRACEP-Congo Aviation'
 'Piquiatuba Táxi Aéreo' 'Aeronaves TSM' 'Equaflight Services'
 'Pepkor Group' 'Pacific Cataract & Laser Institute Inc Pc' 'SAETA Peru'
 'Jags Aviation' 'SunExpress' 'Swiftair, opf West Atlantic (UK)'
 'Copa Airlines' 'Freedom Airline Express' 'ABS Equipment Leasing'
 'Icelandair Flugfélag Islands' 'Korean Air' 'Transavia France'
 'Japan Transocean Air' 'Partee Aviation LLC' 'Torres Strait Air'
 'Sky Express' 'Jupiter Aviation LLC' 'True North Airways'
 'Panamerican Training Center - PTC' 'Flamingo Air Charter'
 'Perimeter Aviation' 'Reven Global Transpor' 'Vigili del Fuoco'
 'Fuerza Aérea Uruguaya - FAU' 'Spirit Airlines' 'Elite Flight Travel'
 'Goma Express' 'Aviación Militar Bolivariana' 'Precision Air'
 'American Airlines' 'American Airpower Heritage Museum'
 'Risk Mondial Aviation & Recovery' 'Andersen Air LLC' 'Ameriflight'
 'LeAir Charter Services' 'Penjet Pty Ltd' 'LATAM Perú'
 'Raisbeck Engineering' 'Bluebird Cargo, opf ASL Airlines Belgium'
 'Verijet' 'Azul Linhas Aéreas Brasileiras' 'Jett Aircraft'
 'Aery Aviation' 'REVA, Inc.' 'Mesa Airlines' 'Antarctic Airways'
 'Key Lime Air' 'Blue Bird Aviation' 'Hawaiian Airlines' 'Air Canada'
 'Rimbun Air' 'Flexjet LLC' 'Ethiopian Airlines'
 'Tarco Aviation, lsf Mid Africa Aviation' 'Skystallion LLC'
 'American Eagle, opb Envoy Air' 'BAR Aviation' 'Vagus Group, Inc.'
 'SX Transport LLC' 'Sriwijaya Air' 'Kenya Air Force - KAF' 'Emirates'
 'Jota Aviation' 'West Atlantic UK' 'Global Avionics LLC'
 'Aviacion Ejecutiva del Bajio' 'Martinair Inc.' 'Zambian Air Force'
 'MM-Air LLC' "Korean People's Army Air and Anti-Air Force (KPAAF)"
 'Nippon Cargo Airlines' 'Luxwing' 'Flyadeal' 'Aerospike Iron LLC'
 'Manta Air' "Armée de l'air et de l'espace" 'Royal Air Freight'
 'Air India Express' 'Wings Over Kississing' 'Fuerza Aérea Mexicana'
 'Nigerian Air Force - NAF' 'Asia Continental Airlines' 'Air Algérie'
 'Beidahuang General Airlines, opf China Met, Administration'
 'South Sudan Supreme Airlines' 'Iran Air' 'Berry Aviation'
 'Mission Aviation Fellowship - MAF' 'Grant Aviation'
 'Kazakhstan Border Guards' 'Skywest Airlines' 'Viva Aerobus'
 'Venezuela Flight Canaima' 'Aeronav Air Services' 'Trigana Air Service'
 'SprintAir' 'Mauritania Airlines International' 'West Wind Aviation Ltd.'
 'American Eagle , opb Piedmont Airlines' 'Malta Air' 'Everts Air Cargo'
 'United States Air Force - USAF' 'Med Air Inc' 'Lake Clark Air'
 'Eletric Power Construção' 'Haugland Group Aviation LLC'
 'STB Aviation LLC' 'TLD Aviation I LLC' 'Government of Madhya Pradesh'
 'Uni Air' 'Skydive Andes' 'Utair' 'Asiana Airlines'
 'JL&GL Productions LP' 'Alpine Air Express' 'Dabi Air Nusantara'
 'GF Aviation LLC' 'Paraclub Wiener Neustadt' 'Vistara'
 'Tatmadaw Lei (Myanmar Air Force)' 'IndiGo Airlines' 'Kin Avia'
 'British Airways' 'DOSAAF' 'INEOS Aviation' 'Ethiopian Air Force'
 'Skydive Teuge' 'Conair' 'Transair (Cargo)' 'Hellenic CAA' 'ELISA'
 'Hukbong Himpapawid ng Pilipinas (Philippine Air Force)'
 'Transenergie Inc' 'Transwest Air' 'Kamchatka Aviation Enterprise'
 'Ryan Air' 'Condor Flugdienst' 'Northwestern Air' 'Air Tunilik'
 'Harbour Air' 'Seair Seaplanes' 'SiLA - Siberian Light Aviation'
 'GoSkydive' 'Air Europa Express, opb Aeronova' 'PV Transport Inc'
 'Skyward Express' 'Norwegian Air Sweden' 'Aeolus Air Charter'
 'Skydive Binz' 'Abyssinian Flight Services, opf UNWorld Food Programme'
 'European Air Transport' 'United Parcel Service - UPS'
 'Northeast General Aviation Co.' 'Roraima Airways' 'Congo Airways'
 'Russian Navy' 'Wright Air Service' 'United Aircraft Corporation'
 'Brooks Range Aviation' 'SN 1124 LLC' 'Alaska Airlines' 'N1GG LLC'
 'SkyJet' 'Nicholas Services LLC' 'Brook Haven Properties LLC'
 'PB Air LLC' 'Fly Exclusive'
 'Aeroservice, opf SiLA - Siberian Light Aviation' 'Meander Air II LLC'
 'CSM Agropecuária' 'Austrian Airlines'
 'United Express, opb Air Wisconsin' 'Impuma Group'
 'LPS Flight Checks & Systems' 'Paracentrum Vlaanderen'
 'STP Airways, lsf AeroJet' 'SVG Air'
 'United Express, opb Republic Airlines'
 'United Express, opb SkyWest Airlines' 'Sierra West Airlines'
 'Air Services Limited - ASL' 'Lowcountry Aviation Co Brokerage LLC'
 'AeroUral' '987 Investments LLC' 'Scout About LLC'
 'Envoy Air, opf American Eagle'
 'PAL Airlines, opf EHS LifeFlight Services' 'Air Tindi'
 'Optimum Aviation, opf Euro Airlines' 'Grodno Aircompany'
 'Safe Air Company (SAC)' 'Asociatia Club Sportiv Skydiving Center'
 'Island Airways' 'EMD Astra Holdings LLC' 'NetJets' 'Western Wings Corp'
 'Kalitta Air' 'Lake & Peninsula Airlines' 'Air Caraïbes Atlantique'
 'Air Charter Scotland Ltd.' 'Castle Aviation' 'Frontier Airlines'
 'Dimed SA Distribuidora da Medicamentos' 'Helidosa Aviation Group'
 'Keewatin Air' 'Cottingham & Butler Insurance Services' 'Malu Aviation'
 'Aeromedevac Air Ambulance' 'Sky-Bound Aviation LLC'
 'Halsted Aviation Corporation (HAC)' 'THY Turkish Airlines'
 'Empresas Ginro, S.A.' 'Royal Moroccan Gendarmerie'
 'Executive Charters Inc'
 'Al Quwwat al-Jawwiya As-Sudaniya (Sudanese Air Force)'
 'Million Air San Juan' 'Sri Lanka Air Force' 'L.C. Whitford Co., Inc.'
 'US Special Operations Command (USSOCOM)' 'L3 Technologies'
 'Ukraine International Airlines' 'South African Air Force - SAAF'
 'Nordwind Airlines' 'Jin Air' 'LifeMed Alaska' 'West Air Sweden'
 'Air Inuit' 'South African Civil Aviation Authority' 'Coulson Aviation'
 'Compass Aviation LLC' 'US Air Force (USAF)' 'WestJet'
 'ALE - Aerolineas Ejecutivas' 'WestJet Encore'
 'ACT Airlines, opf Saudi Arabian Airlines' 'Pegasus Airlines'
 'Redding Aero Enterprises Inc.' 'PSA Airlines, opf American Eagle'
 'Mountain Air Cargo, opf FedEx' 'Transportes Torreon' 'Remonia Air'
 'SC Cole Aviation LLC' 'Eastar Jet'
 'Lauren Engineers & Constructors, Inc.' 'T-Cement'
 'Canadian Pacific Railway Company' 'Trans Maldivian Airways'
 'Bearskin Airlines, opb Perimeter Aviation' 'Expectra Aviation Inc.'
 'Orlan 2000' 'Sigma Airlines' 'East Coast Jets' 'BBR Air'
 'Jetleg Management' 'AT Aero LLC' 'Executive Business Aviation Inc'
 'Legacy Air LLC' 'Textron Inc.' 'Crye-Leike South, Inc' 'Carol 1 LLC'
 'Caridad Aviation, LLC' 'FedEx Express, opb CSA Air'
 'Grand Canyon Airlines' 'Omni Air International'
 'Thai Airways International' 'Platinum Jet Co., Ltd.'
 'Martini Aviation Ltd.' 'Servicios 5250084' 'Gemini Air Group'
 'Planemasters' 'RBR Development LLC' 'Hog Air Aviation LLC'
 'Lionair Inc.' 'Libyan National Army' "Mike's Oilfield Services Ltd."
 'Inversiones SC 2012' 'Buffalo Airways'
 'Province of Saskatchewan Ministry of Central Services'
 'Dos Mil Aerosistema' 'African Express Airways' 'MD Fly'
 'Libyan Air Force' 'United Aviation' 'McWilliams LLC' 'Swift Air'
 'Sanjiv Goenka Group' 'Força Aérea Brasileira - FAB'
 'Pakistan International Airlines - PIA'
 'Kapowsin Air Sports, opf Skydive San Diego'
 'Netherlands Coast Guard (Kustwacht)' 'Sunwest Aviation'
 'Gama Aviation Signature' 'Ural Airlines' 'S7 Airlines' 'Loganair'
 'Nordic Aviation Capital' 'Jindal Steel & Power Ltd.' 'Chair Airlines'
 'LATAM Airlines Brasil' 'Aeroparadise SA' 'Tropic Air Charters'
 'Zeus-Avia' 'Mango' 'Turkish Police' 'Skyjet Aviation' 'Phoenix'
 'N425BJ LLC' 'AX Transporter' 'Aeroflot Russian International Airlines'
 'UTair-Cargo, opf United Nations - UN'
 'Aut, Nacional de Emergência e Proteção Civil, opb Babcock' 'Iberia'
 'City Link' 'Air Senegal' 'FedEx' 'Bomac Air'
 'South West Aviation, lsf Skyway Air' 'Las Vegas Sands Corporation'
 'Skymark Airlines' 'W.R.V. Empreendimentos e Participacoes Ltda.'
 'Connair Consulting LLC' 'Silverstone Air Services, opf Saacid Airlines'
 'United States Marine Corps' 'Ratchthani Leasing Public Company Limited'
 'AerCaribe Cargo' 'Alaska Air Fuel' 'Duk Air Travel' 'AerCaribe Peru'
 'Caroline Islands Air' 'Worldwide Jet Charter Inc' 'Oriental Air Bridge'
 'St. Bernard Parish Government' 'TRACBEL'
 'Al Quwwat al Jawwiya al Iraqiya (Iraqi Air Force)' 'Georgia Jet'
 'SkyWest Airlines, opf American Eagle' 'Volga-Dnepr Airlines' 'TruJet'
 'Air-Glaciers' 'Voyageur Airways' 'British Antarctic Survey'
 'Calm Air International' 'Cubana de Aviación'
 'Royal Bahamas Defence Force' 'Air Sanga' 'Aviation Star S II LLC'
 'Air Djibouti' 'Airco Aircraft Charters' 'Xinjiang General Aviation'
 'Executive Aviation Investors Inc' 'Talon Air'
 'La Barca Empreendimentos Ltda' 'Blue Wing Airlines' 'RAF-AVIA'
 'UTair Aviation' 'TW 601-C Investment LLC'
 'Saha Air, lsf Islamic Republic of Iran Air Force - IRIAF'
 'Singapore Airlines' 'Priority Air Charter' 'Air Creebec' 'Onur Air'
 'Kalitta Charters' 'Air Europa, opb Swiftair' 'Guardian Flight'
 'Tarco Air, opf Sudan Airways' 'Novair' 'Conquest Air Cargo'
 'RICO Taxi Aéreo' 'Kenya Airways' "Stein's Aircraft Services"
 'Delta Airlines, opb Compass Airlines' 'Winair'
 'KLM Royal Dutch Airlines' 'Amazon Air, opb Atlas Air'
 'Biman Bangladesh Airlines' 'United States Army'
 'Silk Way Business Aviation' 'Flybe' 'Avianca Brasil'
 'Banyan Jet Service' 'Tassili Airlines' 'Amik Aviation'
 'United Express, opb CommutAir' 'Baires Fly' 'Waffle House Inc.'
 'LASER Aéreo Colombia' 'Royal Canadian Air Force - RCAF'
 'Golden Wings Aviation Inc.' 'RP Sales and Leasing Inc.'
 'Sundance Airport FBO LLC' 'Berjaya Air' 'Afrijet' 'Major Blue Air'
 'Empresa Nacional de Servicios Aéreos-ENSA' 'easyJet'
 'Sky High Aviation Services' 'Classic Aviation' 'Summit Air' 'Luftwaffe'
 'Archipiélagos Servicios Aéreos' 'Thai Smile' 'Asia Airways' 'Jet2'
 "T'way Air" 'Miami Air International' 'Skyservice Business Aviation'
 'Compañia de Aviación y Logística Empresarial'
 'Air Canada Express, opb Jazz Aviation' 'Parachutisme Nouvel Air'
 'Myanmar National Airlines' 'Taquan Air' 'Jet Sales LLC' 'Batik Air'
 'Jetblue Airways' 'Libyan Air Cargo' 'Indian Air Force - IAF'
 'TSO Ukrayiny' 'Feniks' 'EP Aviation' 'MAP Linhas Aéreas' 'Banco Macro'
 'Hong Kong Airlines' 'Navigator' 'North Star Air' 'Phoenix Air LLC'
 'Yankee Dawdle LLC' 'Mueller Aero Inc' 'Transmandu' 'Western Air'
 'ISR Aviation LLC' 'Warren Transportation LLC' 'DOSAAF, Gvardeysky ATSK'
 'EE Operations LLC' 'Gouvernement du Québec' 'Afriqiyah Airways'
 'easyJet Europe' 'Omicron Business Services, LLC' 'Avia Jet LLC'
 'Air Peace' 'Europe Air' 'Cobham Aviation Services' 'Lufthansa'
 'Fuerza Aérea de Guinea Ecuatorial' 'Pakistan Army Aviation Corps'
 'Bush Air Fuel' 'American Eagle, opb Mesa Airlines'
 'Thomas Cook Airlines' 'Liaoning Star General Aviation' 'Edelweiss Air'
 'DOSAAF Tajikistan' 'Alkan Air' 'Tropical Air' 'SkyAviatrans' 'Aerowest'
 'SARPA - Servicios Aéreos Panamericanos' 'unknown' 'Netjets'
 'Norwegian Air UK' 'Fuerza Aérea Argentina - FAA'
 'All Nippon Airways - ANA' 'JRM Air LLC' 'SafariLink' 'Mokulele Airlines'
 'Virgin Atlantic Airways' 'Fuerza Aérea Venezolana - FAV'
 'Morningstar Air Express' 'Delta Private Jets' 'Club Tiroler Adler'
 'International Air Response' 'Air China' 'Air Charter Services'
 'Lenox Handels und Speditions GmbH' 'Star Jet LLC' 'Libyan Airlines'
 'Jet 24 GmbH' 'Regional Express Américas, opf Avianca' 'Eurowings'
 'Skywest Airlines, opf American Eagle' 'GoJump'
 'Ferreteria e Implementos San Francisco' 'TwoFlex'
 'Rimbun Air, opb Carpediem Aviation' 'FlyMontserrat' 'Auric Air'
 'Gobernación del Estado Bolívar'
 'Department of Royal Rainmaking and Agricultural Aviation' 'Cavok Air'
 'The Collings Foundation' 'Ukraine Air Alliance' 'Pro by Air'
 'Air Force of the Democratic Republic of the Congo' 'Skydive Georgia'
 'Silverstone Air Services' 'Pineapple Air' 'Elite Air Inc'
 'PenAir - Peninsula Airways' 'Atlantic Air Cargo'
 'Delta Connection, opb Endeavor Air' 'Fuerza Aérea Salvadoreña'
 'Blue Water Aviation Services' 'Garuda Indonesia Airways'
 'Abeer Air Services' 'Horizon Air' 'Corporate Air, opf FedEx'
 'USMX AirLink' 'ACT Airlines' 'José João Abdalla Filho'
 'ETG Aviation LLC' 'Pilot Point Consultancy LLC' 'Air Namibia'
 'Tahe Havacilik' 'Avior Airlines' 'Busy Bee Congo'
 'Proflight Air Services' 'Tropicair' 'Business Jet Managers Inc'
 'Fuerza Aérea de Chile' 'Qantas' 'Piedmont Airlines, opf American Eagle'
 'Air Europa' 'Ritch Air LLC' 'WL Aviation LLC' 'C-GHGR Holdings'
 'Representaciones Aero3' 'Calafia Airlines' 'Tigerair Taiwan' 'Bek Air'
 'Air Fast Congo' 'Sunny Sky' 'Easyjet' 'Private Airlines Germany'
 'Sunwing Airlines' 'Kuwait Airways' 'LOT Polskie Linie Lotnicze'
 'Air Taxi PH' 'Kazakhstan Air Defence Force' 'Bismillah Airlines'
 'Fastjet' 'Türk Hava Kuvvetleri (Turkish Air Force)' 'Air Tribe'
 'Galeyr Airline' 'Delegation of the EU to Somalia, lsf AirTraffic Africa'
 'Nestoil' "People's Liberation Army - Air Force - PLAAF"
 'Travel Management, Inc' 'Saratov Airlines' 'Qeshm Air'
 'Iran Aseman Airlines' 'Dana Air' 'Army Parachute Association'
 'Island Express Air' 'Strait Air' 'SmartLynx Airlines Estonia'
 'Serve Air' 'N500MP LLC' 'MC Aviation' 'US-Bangla Airlines'
 'West Coast Air Services' 'Peyton Holdings LLC' 'SmartWings, opf Israir'
 'Bighorn Airways' 'El Al Israel Airlines' 'Germania' 'Aeromar'
 'Línea Aérea Amaszonas' '2M Leasing LLC' 'Skydive the Ranch'
 'Avis Industrial Corporation' 'Henning Aviation LLC'
 'MTC Enterprises LLC' 'Union Gas Air Ventures I LLC' 'ERG Holdings LLC'
 'Mega Aircompany' 'Airwing'
 'Hageland Aviation Services, opf Ravn Connect'
 "Al Quwwat al-Jawwiya al-Jaza'eriya" 'Penial Air' 'United States Navy'
 'Ayk Avia' 'Morningstar Partners Ltd.'
 'Herbert Waldmann Lichttechnik GmbH & Co. KG' 'World Atlantic Airlines'
 'SZEMP Air Kft.' 'Alpine Aviation' 'Lion Air' 'TUI fly Belgium'
 'Blueport Trade 121 (Pty) Ltd.' 'Aluminios Cortizo' 'Embraer'
 'Air Niugini' 'Lynden Air Cargo, opf PNG Air'
 'Irish Parachute Club, lsf Parachuting Caravan Leasing' 'Makalu Air'
 'Cubana de Aviación, lsf Global Air' 'Star Jet'
 'Saudi Arabian Airlines, lsf Onur Air' 'Silver Air'
 'Amazonaves Táxi Aéreo' 'Titan Drilling' 'Air Katanga' 'Asure Air'
 'Air Serv Limited, opf UNHAS' 'Fly-SAX' 'Aeroserv' 'ProAir'
 'Swiftair, opf Smartwings'
 'Falkland Islands Government Air Service - FIGAS' 'Bravo Airways'
 'LinkPNG' 'Delta Connection, opb Compass Airlines'
 'Delta Connection, opb Republic Airlines' 'Norwegian' 'Dimonim Air'
 'Eagle Air (Guinea)' 'Islamic Republic of Iran Air Force - IRIAF'
 'Federal Aviation Administration - FAA' 'Maya Island Air'
 'Air Choice One' 'GAM - General Aviation Maintenance' 'Flex Air Charters'
 'TAP Express, opb White Airways' 'RAM Express' 'Ookpik Aviation'
 'Rovos Air' 'Air Colombia' 'Gol Linhas Aéreas' 'Flybondi'
 'Everts Air Fuel' 'Air Canada Rouge' 'Kazairtrans Airline'
 'Commemorative Air Force, Highland Lakes Squadron'
 'OzAir Charter Service' 'Sunday Airlines, opf SCAT Airlines' 'Atlas Air'
 'Air Kasai' 'Air Taxi Vanuatu' 'Unity Airlines' 'Air Vanuatu'
 'Aeroméxico Connect' 'Atlantic Transportation of Wilmington LLC'
 'Heilongjiang Kunpeng General Aviation Co.' 'Ju-Air'
 'Alliance Air Charter' 'Supreme Airlines' 'Royal Air Maroc - RAM'
 'Horizon Air, opf Alaska Airlines' 'Vancon Holdings'
 'Cathay Pacific Airways' 'Xiamen Airlines' 'LC Perú'
 'Ostthüringer Fallschirmsportclub - OFC' 'Aer Lingus' 'Stargazer Aero'
 'SATENA' 'Bush Air Safaris' 'Vanilla Air' 'Air Mizia'
 'Beijing Capital Airlines' 'Boydak Air' 'West Coast Aviation Services'
 'VOAR Aviação' 'South West Aviation, lsf Slav-Air'
 'Government of Newfoundland and Labrador'
 'Saudi Arabian Airlines, lsf ACT Airlines' 'Thai AirAsia' 'STS Aviatsija'
 'Starjet Inc.' 'América Latina Tecnologia Agrícola - ALTA'
 'Philippine Air Lines' 'Air Transat' 'CGG Aviation Australia'
 'Air America Flight Services' 'Inversiones Moraima'
 'Ravn Connect, opb Frontier Flying Service' 'Jhonlin Air Transport'
 'Yakutia Airlines' 'Overland Airways' 'Air India' 'Sky Lease Cargo'
 'Pakistan Air Force' 'Fly Jamaica Airways' 'Air Astana'
 'Songbird Aviation LLC' 'PAL Airlines' 'Aeroflot' 'Peruvian Airlines'
 'ARG Ltda.' 'Dirt Dynamics, Inc.' 'Estoair LLC' 'PSA Airlines'
 'Arrow Aviation Ltd.' 'Ellinair' 'Desert-Air Safaris' 'Par-Avion'
 'AeroUnion - Aerotransporte de Carga Union' 'Med Air LLC'
 "Africa's Connection STP" 'Chen Aircrafts LLC'
 'Guardia Nacional Bolivariana de Venezuela - GNBV']

In [23]:
#checking how many unique values in operators column
df['operator'].value_counts()

private                             103
American Airlines                    22
Delta Air Lines                      22
Unknown                              19
Southwest Airlines                   18
                                   ...
Kazakhstan Border Guards              1
Aery Aviation                         1
Swiftair, opf West Atlantic (UK)      1
Morningstar Air Express               1
EMD Astra Holdings LLC                1
Name: operator, Length: 827, dtype: int64

In [47]:
#replacing the missing values with 'Unknown' in the operator column
df.loc[:, 'operator'] = df['operator'].fillna("Unknown")

In [25]:
#confriming if missing value is replaced
df.isna().sum()

Unnamed: 0    0
acc.date      0
type          0
reg           0
operator      0
fat           6
location      0
dmg           0
dtype: int64

In [26]:
# cleaning the fat column
#checking for unique values in operators column
print(df['fat'].unique())

['0' '2' nan '5' '14' '11' '132' '1' '22' '6' '4' '8' '0+2' '10' '3' '0+1'
 '19' '5+1' '62' '7' '12' '50+3' '28' '16' '9' '1+1' '18' '176' '97+1'
 '21' '26' '15' '157' '1+2' '13' '41' '1+5' '5+14' '21+6' '38' '71' '66'
 '39' '51' '257' '112' '20' '189']

In [27]:
#checking data type
df['fat'].dtype

dtype('O')

In [28]:
#first we convert the data type to string
df.loc[:,'fat'] = df['fat'].astype(str)

In [29]:
#checking our data
print(df['fat'].unique())

['0' '2' 'nan' '5' '14' '11' '132' '1' '22' '6' '4' '8' '0+2' '10' '3'
 '0+1' '19' '5+1' '62' '7' '12' '50+3' '28' '16' '9' '1+1' '18' '176'
 '97+1' '21' '26' '15' '157' '1+2' '13' '41' '1+5' '5+14' '21+6' '38' '71'
 '66' '39' '51' '257' '112' '20' '189']

In [30]:
# replacing nan  to become NaN
df.loc[:,'fat'] = df['fat'].replace('nan', np.nan)
#checking our data
print(df['fat'].unique())

['0' '2' nan '5' '14' '11' '132' '1' '22' '6' '4' '8' '0+2' '10' '3' '0+1'
 '19' '5+1' '62' '7' '12' '50+3' '28' '16' '9' '1+1' '18' '176' '97+1'
 '21' '26' '15' '157' '1+2' '13' '41' '1+5' '5+14' '21+6' '38' '71' '66'
 '39' '51' '257' '112' '20' '189']

In [31]:
#summing up errors with '5+1'in our data
df.loc[:,'fat'] = df['fat'].apply(lambda x: pd.eval(str(x)) if isinstance(x, str) else x)

#checking our data
print(df['fat'].unique())

[  0.   2.  nan   5.  14.  11. 132.   1.  22.   6.   4.   8.  10.   3.
  19.  62.   7.  12.  53.  28.  16.   9.  18. 176.  98.  21.  26.  15.
 157.  13.  41.  27.  38.  71.  66.  39.  51. 257. 112.  20. 189.]

In [32]:
#confriming counts
df.count()

Unnamed: 0    1250
acc.date      1250
type          1250
reg           1250
operator      1250
fat           1244
location      1250
dmg           1250
dtype: int64

In [33]:
#checking for missing values 
df.isna().sum()

Unnamed: 0    0
acc.date      0
type          0
reg           0
operator      0
fat           6
location      0
dmg           0
dtype: int64

In [34]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,zs-nrj,SA Airlink,0.0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,hr-ayy,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,ep-cap,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,ra-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,unknown,private,0.0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
1245,1245,20 Dec 2018,Cessna 560 Citation V,n188cw,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
1246,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,gnb-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),sub
1247,1247,24 Dec 2018,Antonov An-26B,9t-tab,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),w/o
1248,1248,31 Dec 2018,Boeing 757-2B7 (WL),n938uw,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",sub
1249,1249,unk. date 2018,Rockwell Sabreliner 80,n337kl,private,0.0,"Eugene Airport, OR (EUG)",sub

In [35]:
#checking the data type
df.dtypes

Unnamed: 0      int64
acc.date       object
type           object
reg            object
operator       object
fat           float64
location       object
dmg            object
dtype: object

In [36]:
# confriming
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1250 non-null   int64
 1   acc.date    1250 non-null   object
 2   type        1250 non-null   object
 3   reg         1250 non-null   object
 4   operator    1250 non-null   object
 5   fat         1244 non-null   float64
 6   location    1250 non-null   object
 7   dmg         1250 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 87.9+ KB

In [48]:
# rectifying the data type in the acc. data to be in date format
df.loc[:,'acc.date'] = pd.to_datetime(df['acc.date'], errors='coerce')

#checking our data how it looks
print(df['acc.date'].unique())

['2022-01-03T00:00:00.000000000' '2022-01-04T00:00:00.000000000'
 '2022-01-05T00:00:00.000000000' '2022-01-08T00:00:00.000000000'
 '2022-01-12T00:00:00.000000000' '2022-01-16T00:00:00.000000000'
 '2022-01-19T00:00:00.000000000' '2022-01-22T00:00:00.000000000'
 '2022-01-27T00:00:00.000000000' '2022-01-31T00:00:00.000000000'
 '2022-02-02T00:00:00.000000000' '2022-02-05T00:00:00.000000000'
 '2022-02-07T00:00:00.000000000' '2022-02-08T00:00:00.000000000'
 '2022-02-11T00:00:00.000000000' '2022-02-14T00:00:00.000000000'
 '2022-02-15T00:00:00.000000000' '2022-02-16T00:00:00.000000000'
 '2022-02-18T00:00:00.000000000' '2022-02-21T00:00:00.000000000'
 '2022-02-23T00:00:00.000000000' '2022-02-24T00:00:00.000000000'
 '2022-02-26T00:00:00.000000000' '2022-02-27T00:00:00.000000000'
 '2022-02-28T00:00:00.000000000' '2022-03-01T00:00:00.000000000'
 '2022-03-02T00:00:00.000000000' '2022-03-03T00:00:00.000000000'
 '2022-03-05T00:00:00.000000000' '2022-03-06T00:00:00.000000000'
 '2022-03-07T00:00:00.000000000' '2022-03-08T00:00:00.000000000'
 '2022-03-09T00:00:00.000000000' '2022-03-12T00:00:00.000000000'
 '2022-03-17T00:00:00.000000000' '2022-03-21T00:00:00.000000000'
 '2022-03-26T00:00:00.000000000' '2022-03-30T00:00:00.000000000'
 '2022-04-01T00:00:00.000000000' '2022-04-02T00:00:00.000000000'
 '2022-04-07T00:00:00.000000000' '2022-04-08T00:00:00.000000000'
 '2022-04-11T00:00:00.000000000' '2022-04-13T00:00:00.000000000'
 '2022-04-14T00:00:00.000000000' '2022-04-17T00:00:00.000000000'
 '2022-04-22T00:00:00.000000000' '2022-04-26T00:00:00.000000000'
 '2022-04-30T00:00:00.000000000' '2022-05-01T00:00:00.000000000'
 '2022-05-03T00:00:00.000000000' '2022-05-06T00:00:00.000000000'
 '2022-05-10T00:00:00.000000000' '2022-05-11T00:00:00.000000000'
 '2022-05-12T00:00:00.000000000' '2022-05-20T00:00:00.000000000'
 '2022-05-21T00:00:00.000000000' '2022-05-24T00:00:00.000000000'
 '2022-05-25T00:00:00.000000000' '2022-05-27T00:00:00.000000000'
 '2022-05-28T00:00:00.000000000' '2022-05-29T00:00:00.000000000'
 '2022-06-02T00:00:00.000000000' '2022-06-03T00:00:00.000000000'
 '2022-06-04T00:00:00.000000000' '2022-06-07T00:00:00.000000000'
 '2022-06-10T00:00:00.000000000' '2022-06-13T00:00:00.000000000'
 '2022-06-15T00:00:00.000000000' '2022-06-16T00:00:00.000000000'
 '2022-06-17T00:00:00.000000000' '2022-06-21T00:00:00.000000000'
 '2022-06-22T00:00:00.000000000' '2022-06-24T00:00:00.000000000'
 '2022-06-25T00:00:00.000000000' '2022-06-26T00:00:00.000000000'
 '2022-07-01T00:00:00.000000000' '2022-07-13T00:00:00.000000000'
 '2022-07-15T00:00:00.000000000' '2022-07-16T00:00:00.000000000'
 '2022-07-18T00:00:00.000000000' '2022-07-20T00:00:00.000000000'
 '2022-07-21T00:00:00.000000000' '2022-07-22T00:00:00.000000000'
 '2022-07-24T00:00:00.000000000' '2022-07-25T00:00:00.000000000'
 '2022-07-27T00:00:00.000000000' '2022-07-28T00:00:00.000000000'
 '2022-07-29T00:00:00.000000000' '2022-07-30T00:00:00.000000000'
 '2022-08-05T00:00:00.000000000' '2022-08-06T00:00:00.000000000'
 '2022-08-07T00:00:00.000000000' '2022-08-15T00:00:00.000000000'
 '2022-08-17T00:00:00.000000000' '2022-08-19T00:00:00.000000000'
 '2022-08-20T00:00:00.000000000' '2022-08-29T00:00:00.000000000'
 '2022-08-30T00:00:00.000000000' '2022-08-31T00:00:00.000000000'
 '2022-09-01T00:00:00.000000000' '2022-09-02T00:00:00.000000000'
 '2022-09-03T00:00:00.000000000' '2022-09-04T00:00:00.000000000'
 '2022-09-07T00:00:00.000000000' '2022-09-09T00:00:00.000000000'
 '2022-09-10T00:00:00.000000000' '2022-09-15T00:00:00.000000000'
 '2022-09-19T00:00:00.000000000' '2022-09-20T00:00:00.000000000'
 '2022-09-21T00:00:00.000000000' '2022-09-22T00:00:00.000000000'
 '2022-09-24T00:00:00.000000000' '2022-09-25T00:00:00.000000000'
 '2022-09-27T00:00:00.000000000' '2022-09-28T00:00:00.000000000'
 '2022-09-29T00:00:00.000000000' '2022-10-01T00:00:00.000000000'
 '2022-10-03T00:00:00.000000000' '2022-10-05T00:00:00.000000000'
 '2022-10-12T00:00:00.000000000' '2022-10-13T00:00:00.000000000'
 '2022-10-16T00:00:00.000000000' '2022-10-18T00:00:00.000000000'
 '2022-10-19T00:00:00.000000000' '2022-10-22T00:00:00.000000000'
 '2022-10-23T00:00:00.000000000' '2022-10-25T00:00:00.000000000'
 '2022-10-27T00:00:00.000000000' '2022-10-28T00:00:00.000000000'
 '2022-11-02T00:00:00.000000000' '2022-11-03T00:00:00.000000000'
 '2022-11-06T00:00:00.000000000' '2022-11-07T00:00:00.000000000'
 '2022-11-09T00:00:00.000000000' '2022-11-10T00:00:00.000000000'
 '2022-11-12T00:00:00.000000000' '2022-11-14T00:00:00.000000000'
 '2022-11-15T00:00:00.000000000' '2022-11-17T00:00:00.000000000'
 '2022-11-18T00:00:00.000000000' '2022-11-19T00:00:00.000000000'
 '2022-11-20T00:00:00.000000000' '2022-11-25T00:00:00.000000000'
 '2022-11-28T00:00:00.000000000' '2022-11-29T00:00:00.000000000'
 '2022-11-30T00:00:00.000000000' '2022-12-01T00:00:00.000000000'
 '2022-12-03T00:00:00.000000000' '2022-12-07T00:00:00.000000000'
 '2022-12-08T00:00:00.000000000' '2022-12-15T00:00:00.000000000'
 '2022-12-17T00:00:00.000000000' '2022-12-18T00:00:00.000000000'
 '2022-12-22T00:00:00.000000000' '2022-12-23T00:00:00.000000000'
 '2022-12-24T00:00:00.000000000' '2022-12-26T00:00:00.000000000'
 '2022-12-27T00:00:00.000000000' '2022-12-30T00:00:00.000000000'
 '2022-12-31T00:00:00.000000000' '2021-01-02T00:00:00.000000000'
 '2021-01-09T00:00:00.000000000' '2021-01-12T00:00:00.000000000'
 '2021-01-17T00:00:00.000000000' '2021-01-19T00:00:00.000000000'
 '2021-01-23T00:00:00.000000000' '2021-01-24T00:00:00.000000000'
 '2021-01-26T00:00:00.000000000' '2021-01-28T00:00:00.000000000'
 '2021-01-29T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-02-08T00:00:00.000000000' '2021-02-09T00:00:00.000000000'
 '2021-02-10T00:00:00.000000000' '2021-02-13T00:00:00.000000000'
 '2021-02-14T00:00:00.000000000' '2021-02-15T00:00:00.000000000'
 '2021-02-18T00:00:00.000000000' '2021-02-20T00:00:00.000000000'
 '2021-02-21T00:00:00.000000000' '2021-02-26T00:00:00.000000000'
 '2021-02-28T00:00:00.000000000' '2021-03-01T00:00:00.000000000'
 '2021-03-02T00:00:00.000000000' '2021-03-04T00:00:00.000000000'
 '2021-03-07T00:00:00.000000000' '2021-03-10T00:00:00.000000000'
 '2021-03-12T00:00:00.000000000' '2021-03-13T00:00:00.000000000'
 '2021-03-15T00:00:00.000000000' '2021-03-16T00:00:00.000000000'
 '2021-03-18T00:00:00.000000000' '2021-03-19T00:00:00.000000000'
 '2021-03-20T00:00:00.000000000' '2021-03-23T00:00:00.000000000'
 '2021-03-25T00:00:00.000000000' '2021-03-26T00:00:00.000000000'
 '2021-03-28T00:00:00.000000000' '2021-04-02T00:00:00.000000000'
 '2021-04-03T00:00:00.000000000' '2021-04-08T00:00:00.000000000'
 '2021-04-09T00:00:00.000000000' '2021-04-14T00:00:00.000000000'
 '2021-04-15T00:00:00.000000000' '2021-04-16T00:00:00.000000000'
 '2021-04-18T00:00:00.000000000' '2021-04-20T00:00:00.000000000'
 '2021-04-26T00:00:00.000000000' '2021-05-01T00:00:00.000000000'
 '2021-05-05T00:00:00.000000000' '2021-05-06T00:00:00.000000000'
 '2021-05-10T00:00:00.000000000' '2021-05-12T00:00:00.000000000'
 '2021-05-13T00:00:00.000000000' '2021-05-19T00:00:00.000000000'
 '2021-05-20T00:00:00.000000000' '2021-05-21T00:00:00.000000000'
 '2021-05-28T00:00:00.000000000' '2021-05-29T00:00:00.000000000'
 '2021-05-30T00:00:00.000000000' '2021-06-02T00:00:00.000000000'
 '2021-06-03T00:00:00.000000000' '2021-06-04T00:00:00.000000000'
 '2021-06-05T00:00:00.000000000' '2021-06-07T00:00:00.000000000'
 '2021-06-10T00:00:00.000000000' '2021-06-13T00:00:00.000000000'
 '2021-06-14T00:00:00.000000000' '2021-06-16T00:00:00.000000000'
 '2021-06-18T00:00:00.000000000' '2021-06-19T00:00:00.000000000'
 '2021-06-21T00:00:00.000000000' '2021-06-23T00:00:00.000000000'
 '2021-06-24T00:00:00.000000000' '2021-06-25T00:00:00.000000000'
 '2021-06-29T00:00:00.000000000' '2021-07-01T00:00:00.000000000'
 '2021-07-02T00:00:00.000000000' '2021-07-04T00:00:00.000000000'
 '2021-07-05T00:00:00.000000000' '2021-07-06T00:00:00.000000000'
 '2021-07-07T00:00:00.000000000' '2021-07-08T00:00:00.000000000'
 '2021-07-11T00:00:00.000000000' '2021-07-14T00:00:00.000000000'
 '2021-07-15T00:00:00.000000000' '2021-07-16T00:00:00.000000000'
 '2021-07-17T00:00:00.000000000' '2021-07-18T00:00:00.000000000'
 '2021-07-20T00:00:00.000000000' '2021-07-21T00:00:00.000000000'
 '2021-07-22T00:00:00.000000000' '2021-07-25T00:00:00.000000000'
 '2021-07-26T00:00:00.000000000' '2021-07-27T00:00:00.000000000'
 '2021-07-31T00:00:00.000000000' '2021-08-03T00:00:00.000000000'
 '2021-08-09T00:00:00.000000000' '2021-08-11T00:00:00.000000000'
 '2021-08-12T00:00:00.000000000' '2021-08-14T00:00:00.000000000'
 '2021-08-16T00:00:00.000000000' '2021-08-17T00:00:00.000000000'
 '2021-08-21T00:00:00.000000000' '2021-08-23T00:00:00.000000000'
 '2021-08-24T00:00:00.000000000' '2021-08-25T00:00:00.000000000'
 '2021-08-26T00:00:00.000000000' '2021-08-27T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-09-02T00:00:00.000000000'
 '2021-09-03T00:00:00.000000000' '2021-09-04T00:00:00.000000000'
 '2021-09-12T00:00:00.000000000' '2021-09-14T00:00:00.000000000'
 '2021-09-15T00:00:00.000000000' '2021-09-17T00:00:00.000000000'
 '2021-09-20T00:00:00.000000000' '2021-09-22T00:00:00.000000000'
 '2021-09-23T00:00:00.000000000' '2021-09-25T00:00:00.000000000'
 '2021-09-27T00:00:00.000000000' '2021-09-28T00:00:00.000000000'
 '2021-09-29T00:00:00.000000000' '2021-10-01T00:00:00.000000000'
 '2021-10-05T00:00:00.000000000' '2021-10-08T00:00:00.000000000'
 '2021-10-10T00:00:00.000000000' '2021-10-13T00:00:00.000000000'
 '2021-10-14T00:00:00.000000000' '2021-10-15T00:00:00.000000000'
 '2021-10-18T00:00:00.000000000' '2021-10-19T00:00:00.000000000'
 '2021-10-22T00:00:00.000000000' '2021-10-23T00:00:00.000000000'
 '2021-10-25T00:00:00.000000000' '2021-10-29T00:00:00.000000000'
 '2021-10-30T00:00:00.000000000' '2021-11-01T00:00:00.000000000'
 '2021-11-02T00:00:00.000000000' '2021-11-03T00:00:00.000000000'
 '2021-11-05T00:00:00.000000000' '2021-11-06T00:00:00.000000000'
 '2021-11-13T00:00:00.000000000' '2021-11-14T00:00:00.000000000'
 '2021-11-21T00:00:00.000000000' '2021-11-25T00:00:00.000000000'
 '2021-11-28T00:00:00.000000000' '2021-11-29T00:00:00.000000000'
 '2021-12-01T00:00:00.000000000' '2021-12-05T00:00:00.000000000'
 '2021-12-10T00:00:00.000000000' '2021-12-11T00:00:00.000000000'
 '2021-12-12T00:00:00.000000000' '2021-12-14T00:00:00.000000000'
 '2021-12-15T00:00:00.000000000' '2021-12-17T00:00:00.000000000'
 '2021-12-20T00:00:00.000000000' '2021-12-21T00:00:00.000000000'
 '2021-12-23T00:00:00.000000000' '2021-12-25T00:00:00.000000000'
 '2021-12-27T00:00:00.000000000' '2021-12-28T00:00:00.000000000'
 '2021-12-30T00:00:00.000000000' '2021-12-31T00:00:00.000000000'
 '2020-01-01T00:00:00.000000000' '2020-01-02T00:00:00.000000000'
 '2020-01-03T00:00:00.000000000' '2020-01-04T00:00:00.000000000'
 '2020-01-05T00:00:00.000000000' '2020-01-08T00:00:00.000000000'
 '2020-01-09T00:00:00.000000000' '2020-01-10T00:00:00.000000000'
 '2020-01-12T00:00:00.000000000' '2020-01-13T00:00:00.000000000'
 '2020-01-16T00:00:00.000000000' '2020-01-19T00:00:00.000000000'
 '2020-01-20T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-01-24T00:00:00.000000000' '2020-01-27T00:00:00.000000000'
 '2020-01-28T00:00:00.000000000' '2020-01-30T00:00:00.000000000'
 '2020-01-31T00:00:00.000000000' '2020-02-01T00:00:00.000000000'
 '2020-02-02T00:00:00.000000000' '2020-02-03T00:00:00.000000000'
 '2020-02-04T00:00:00.000000000' '2020-02-05T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-02-07T00:00:00.000000000'
 '2020-02-08T00:00:00.000000000' '2020-02-09T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-14T00:00:00.000000000'
 '2020-02-15T00:00:00.000000000' '2020-02-20T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-03-03T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-06T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-17T00:00:00.000000000' '2020-03-19T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-28T00:00:00.000000000' '2020-03-29T00:00:00.000000000'
 '2020-04-05T00:00:00.000000000' '2020-04-12T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2020-04-19T00:00:00.000000000'
 '2020-04-20T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2020-04-24T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-05-02T00:00:00.000000000' '2020-05-04T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2020-05-08T00:00:00.000000000' '2020-05-09T00:00:00.000000000'
 '2020-05-16T00:00:00.000000000' '2020-05-19T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-22T00:00:00.000000000'
 '2020-05-26T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-05-30T00:00:00.000000000' '2020-06-08T00:00:00.000000000'
 '2020-06-09T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-06-14T00:00:00.000000000' '2020-06-15T00:00:00.000000000'
 '2020-06-16T00:00:00.000000000' '2020-06-19T00:00:00.000000000'
 '2020-06-28T00:00:00.000000000' '2020-07-02T00:00:00.000000000'
 '2020-07-05T00:00:00.000000000' '2020-07-07T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-07-10T00:00:00.000000000'
 '2020-07-13T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2020-07-17T00:00:00.000000000'
 '2020-07-19T00:00:00.000000000' '2020-07-20T00:00:00.000000000'
 '2020-07-22T00:00:00.000000000' '2020-07-23T00:00:00.000000000'
 '2020-07-25T00:00:00.000000000' '2020-07-26T00:00:00.000000000'
 '2020-07-28T00:00:00.000000000' '2020-07-30T00:00:00.000000000'
 '2020-08-01T00:00:00.000000000' '2020-08-03T00:00:00.000000000'
 '2020-08-04T00:00:00.000000000' '2020-08-07T00:00:00.000000000'
 '2020-08-08T00:00:00.000000000' '2020-08-09T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-08-12T00:00:00.000000000'
 '2020-08-13T00:00:00.000000000' '2020-08-16T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2020-08-20T00:00:00.000000000' '2020-08-22T00:00:00.000000000'
 '2020-08-27T00:00:00.000000000' '2020-08-28T00:00:00.000000000'
 '2020-08-29T00:00:00.000000000' '2020-09-04T00:00:00.000000000'
 '2020-09-07T00:00:00.000000000' '2020-09-11T00:00:00.000000000'
 '2020-09-15T00:00:00.000000000' '2020-09-16T00:00:00.000000000'
 '2020-09-18T00:00:00.000000000' '2020-09-19T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2020-09-22T00:00:00.000000000'
 '2020-09-23T00:00:00.000000000' '2020-09-25T00:00:00.000000000'
 '2020-09-27T00:00:00.000000000' '2020-09-28T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000' '2020-09-30T00:00:00.000000000'
 '2020-10-04T00:00:00.000000000' '2020-10-05T00:00:00.000000000'
 '2020-10-06T00:00:00.000000000' '2020-10-10T00:00:00.000000000'
 '2020-10-14T00:00:00.000000000' '2020-10-16T00:00:00.000000000'
 '2020-10-21T00:00:00.000000000' '2020-10-22T00:00:00.000000000'
 '2020-10-23T00:00:00.000000000' '2020-10-24T00:00:00.000000000'
 '2020-10-29T00:00:00.000000000' '2020-10-30T00:00:00.000000000'
 '2020-10-31T00:00:00.000000000' '2020-11-01T00:00:00.000000000'
 '2020-11-05T00:00:00.000000000' '2020-11-09T00:00:00.000000000'
 '2020-11-11T00:00:00.000000000' '2020-11-12T00:00:00.000000000'
 '2020-11-13T00:00:00.000000000' '2020-11-15T00:00:00.000000000'
 '2020-11-16T00:00:00.000000000' '2020-11-23T00:00:00.000000000'
 '2020-11-26T00:00:00.000000000' '2020-11-28T00:00:00.000000000'
 '2020-11-30T00:00:00.000000000' '2020-12-01T00:00:00.000000000'
 '2020-12-02T00:00:00.000000000' '2020-12-05T00:00:00.000000000'
 '2020-12-09T00:00:00.000000000' '2020-12-10T00:00:00.000000000'
 '2020-12-13T00:00:00.000000000' '2020-12-16T00:00:00.000000000'
 '2020-12-19T00:00:00.000000000' '2020-12-20T00:00:00.000000000'
 '2020-12-22T00:00:00.000000000' '2020-12-23T00:00:00.000000000'
 '2020-12-30T00:00:00.000000000' '2019-01-07T00:00:00.000000000'
 '2019-01-12T00:00:00.000000000' '2019-01-14T00:00:00.000000000'
 '2019-01-16T00:00:00.000000000' '2019-01-18T00:00:00.000000000'
 '2019-01-21T00:00:00.000000000' '2019-01-22T00:00:00.000000000'
 '2019-01-23T00:00:00.000000000' '2019-01-26T00:00:00.000000000'
 '2019-01-28T00:00:00.000000000' '2019-01-29T00:00:00.000000000'
 '2019-01-30T00:00:00.000000000' '2019-02-03T00:00:00.000000000'
 '2019-02-04T00:00:00.000000000' '2019-02-05T00:00:00.000000000'
 '2019-02-08T00:00:00.000000000' '2019-02-09T00:00:00.000000000'
 '2019-02-11T00:00:00.000000000' '2019-02-13T00:00:00.000000000'
 '2019-02-17T00:00:00.000000000' '2019-02-23T00:00:00.000000000'
 '2019-02-24T00:00:00.000000000' '2019-02-25T00:00:00.000000000'
 '2019-02-26T00:00:00.000000000' '2019-02-27T00:00:00.000000000'
 '2019-02-28T00:00:00.000000000' '2019-03-02T00:00:00.000000000'
 '2019-03-03T00:00:00.000000000' '2019-03-04T00:00:00.000000000'
 '2019-03-07T00:00:00.000000000' '2019-03-09T00:00:00.000000000'
 '2019-03-10T00:00:00.000000000' '2019-03-11T00:00:00.000000000'
 '2019-03-12T00:00:00.000000000' '2019-03-14T00:00:00.000000000'
 '2019-03-18T00:00:00.000000000' '2019-03-19T00:00:00.000000000'
 '2019-03-21T00:00:00.000000000' '2019-03-22T00:00:00.000000000'
 '2019-03-23T00:00:00.000000000' '2019-03-27T00:00:00.000000000'
 '2019-04-03T00:00:00.000000000' '2019-04-04T00:00:00.000000000'
 '2019-04-08T00:00:00.000000000' '2019-04-10T00:00:00.000000000'
 '2019-04-11T00:00:00.000000000' '2019-04-13T00:00:00.000000000'
 '2019-04-14T00:00:00.000000000' '2019-04-16T00:00:00.000000000'
 '2019-04-22T00:00:00.000000000' '2019-04-23T00:00:00.000000000'
 '2019-04-24T00:00:00.000000000' '2019-04-30T00:00:00.000000000'
 '2019-05-02T00:00:00.000000000' '2019-05-03T00:00:00.000000000'
 '2019-05-04T00:00:00.000000000' '2019-05-05T00:00:00.000000000'
 '2019-05-07T00:00:00.000000000' '2019-05-08T00:00:00.000000000'
 '2019-05-10T00:00:00.000000000' '2019-05-11T00:00:00.000000000'
 '2019-05-12T00:00:00.000000000' '2019-05-13T00:00:00.000000000'
 '2019-05-18T00:00:00.000000000' '2019-05-22T00:00:00.000000000'
 '2019-05-24T00:00:00.000000000' '2019-05-25T00:00:00.000000000'
 '2019-05-28T00:00:00.000000000' '2019-05-29T00:00:00.000000000'
 '2019-06-03T00:00:00.000000000' '2019-06-07T00:00:00.000000000'
 '2019-06-09T00:00:00.000000000' '2019-06-11T00:00:00.000000000'
 '2019-06-13T00:00:00.000000000' '2019-06-15T00:00:00.000000000'
 '2019-06-17T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
 '2019-06-20T00:00:00.000000000' '2019-06-21T00:00:00.000000000'
 '2019-06-23T00:00:00.000000000' '2019-06-24T00:00:00.000000000'
 '2019-06-26T00:00:00.000000000' '2019-06-27T00:00:00.000000000'
 '2019-06-28T00:00:00.000000000' '2019-06-29T00:00:00.000000000'
 '2019-06-30T00:00:00.000000000' '2019-07-01T00:00:00.000000000'
 '2019-07-08T00:00:00.000000000' '2019-07-09T00:00:00.000000000'
 '2019-07-10T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2019-07-13T00:00:00.000000000' '2019-07-16T00:00:00.000000000'
 '2019-07-17T00:00:00.000000000' '2019-07-19T00:00:00.000000000'
 '2019-07-20T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2019-07-23T00:00:00.000000000' '2019-07-24T00:00:00.000000000'
 '2019-07-25T00:00:00.000000000' '2019-07-26T00:00:00.000000000'
 '2019-07-27T00:00:00.000000000' '2019-07-30T00:00:00.000000000'
 '2019-07-31T00:00:00.000000000' '2019-08-01T00:00:00.000000000'
 '2019-08-02T00:00:00.000000000' '2019-08-04T00:00:00.000000000'
 '2019-08-05T00:00:00.000000000' '2019-08-06T00:00:00.000000000'
 '2019-08-07T00:00:00.000000000' '2019-08-08T00:00:00.000000000'
 '2019-08-10T00:00:00.000000000' '2019-08-12T00:00:00.000000000'
 '2019-08-14T00:00:00.000000000' '2019-08-15T00:00:00.000000000'
 '2019-08-16T00:00:00.000000000' '2019-08-18T00:00:00.000000000'
 '2019-08-21T00:00:00.000000000' '2019-08-22T00:00:00.000000000'

In [38]:
df.dtypes

Unnamed: 0             int64
acc.date      datetime64[ns]
type                  object
reg                   object
operator              object
fat                  float64
location              object
dmg                   object
dtype: object

In [39]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,2022-01-03,British Aerospace 4121 Jetstream 41,zs-nrj,SA Airlink,0.0,near Venetia Mine Airport,sub
1,1,2022-01-04,British Aerospace 3101 Jetstream 31,hr-ayy,LANHSA - Línea Aérea Nacional de Honduras S.A,0.0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,2022-01-05,Boeing 737-4H6,ep-cap,Caspian Airlines,0.0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,2022-01-08,Tupolev Tu-204-100C,ra-64032,"Cainiao, opb Aviastar-TU",0.0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,2022-01-12,Beechcraft 200 Super King Air,unknown,private,0.0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
1245,1245,2018-12-20,Cessna 560 Citation V,n188cw,Chen Aircrafts LLC,4.0,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
1246,1246,2018-12-22,PZL-Mielec M28 Skytruck,gnb-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0.0,Kamarata Airport (KTV),sub
1247,1247,2018-12-24,Antonov An-26B,9t-tab,Air Force of the Democratic Republic of the Congo,0.0,Beni Airport (BNC),w/o
1248,1248,2018-12-31,Boeing 757-2B7 (WL),n938uw,American Airlines,0.0,"Charlotte-Douglas International Airport, NC (C...",sub
1249,1249,NaT,Rockwell Sabreliner 80,n337kl,private,0.0,"Eugene Airport, OR (EUG)",sub

In [40]:
#confriming our data again if there is something that has changed when converting data type in date column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1250 non-null   int64
 1   acc.date    1247 non-null   datetime64[ns]
 2   type        1250 non-null   object
 3   reg         1250 non-null   object
 4   operator    1250 non-null   object
 5   fat         1244 non-null   float64
 6   location    1250 non-null   object
 7   dmg         1250 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 87.9+ KB

In [41]:
df['acc.date'].value_counts()

2020-03-03    12
2018-04-15     6
2022-02-24     6
2019-08-06     5
2018-06-10     5
              ..
2021-04-09     1
2019-11-14     1
2021-08-11     1
2020-10-22     1
2022-05-25     1
Name: acc.date, Length: 868, dtype: int64

In [49]:
#cleaning the NaT in our date column
# decided to fill NaT with date before
df.loc[:,'acc.date'] = df['acc.date'].fillna(method='bfill')

In [43]:
#checking if its filled all null values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1250 non-null   int64
 1   acc.date    1249 non-null   datetime64[ns]
 2   type        1250 non-null   object
 3   reg         1250 non-null   object
 4   operator    1250 non-null   object
 5   fat         1244 non-null   float64
 6   location    1250 non-null   object
 7   dmg         1250 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 87.9+ KB

In [44]:
# cleaning the missing date by filling the previous date
df.loc[:,'acc.date'] = df['acc.date'].fillna(method='ffill')

In [45]:
# confriming if our data is cleaning 
# data is clean we can download it
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1250 non-null   int64
 1   acc.date    1250 non-null   datetime64[ns]
 2   type        1250 non-null   object
 3   reg         1250 non-null   object
 4   operator    1250 non-null   object
 5   fat         1244 non-null   float64
 6   location    1250 non-null   object
 7   dmg         1250 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 87.9+ KB

In [54]:
# UPDATING OUR CLEAN DATA AND EXPORTING IT
df.to_csv("cleaned_data_flight.csv",index=False)

In [53]:
df.shape

(1250, 8)

## DATA ANALYSIS

### Findings 
The findings of this project include:
1. The de Havilland Canada DHC-6 Twin Otter 300 and Cessna 208B Grand Caravan have the highest fatality rate.
2. Airbus Aircraft have the lowest risk
3. Cessna 208B Grand Caravan has the highest severe incident  in terms of type of damage it causes

### Recommendation
Some of the recommendations I would give to the stakeholders are:
1. Avoid investing money into the de Havilland Canada DHC-6 Twin Otter 300 and Cessna 208B Grand Carava as this will led too a hudge finacial loss because the aircraft causes a lot of accidents.
2. Invest in Airbus-type craft, the aircraft are safer for high commercial routes, which will be more reliable and less risky.
3. Not to invest in Cessna 208B Grand Caravan to minimize their financial risk and operational risks.