# BUSINESS UNDERSTANDING

 ## Business Problem
 Your company is expanding into new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.

### Overview of Business Understanding
This project aims  to solve  potential risks in the aircraft business. The company aims at reducing risk and uncertainty in the company as the company aims at expanding the business. Since the company has no prior experience in the potential risk of aircraft, the business aims at coming up with the lowest risk aircraft that are safe to them and additionally profitable to the business.

The goal of this project is to help top management and relevant stakeholders like the risk department, finance, operations in the aviation industry to venture in more safer airctrafts that are less risk and more safe and that are still profitable to the business.

In conclusion, the goal of this project is to come up with safer and more profitable aircraft  as they expand in the aviation industry. The aim is to pin point aircrafts that do not pose financial risks and are of low operational risk. The findings of this project will help relevant stakeholders  in coming up with aircraft that are of low cost and low operational exposure. It will enable them to be safer, more strategic in the aviation industry.

 # DATA UNDERSTANDING

The data source for this project is Kaggle:  https://www.kaggle.com/datasets/anandkushawaha/aviation-crashed-flights-data?resource=download.
This data is suitable for this project because it identifies the problems encountered in the aircraft business, specifically in terms of operational and financial risk that is actually faced by stakeholders.

### Importing of libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
#loading the data to understand it
df = pd.read_csv("flight.csv")
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [7]:
#checking the number of rows and columns
df.shape

(2500, 8)

In [10]:
#checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

### summary of data
The data contains 2500 rows and 8 columns. The data contains a dtype that needs to be cleaned to the correct data type.
The data is currently relevant as it relates to the business problem that we want to solve.
So for me to come up with a solution to the problem addressed. The data needs to be cleaned,  descriptive statistics and Exploratory Data Analysis to be done and finalized with the visuals that will address stakeholders' questions.

## DATA PREPATATION

## DATA ANALYSIS