# BUSINESS UNDERSTANDING

 ## Business Problem
 Your company is expanding into new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.

### Overview of Business Understanding
This project aims  to solve  potential risks in the aircraft business. The company aims at reducing risk and uncertainty in the company as the company aims at expanding the business. Since the company has no prior experience in the potential risk of aircraft, the business aims at coming up with the lowest risk aircraft that are safe to them and additionally profitable to the business.


### The 4 main business questions for solving  the problem in this data will be:
1. Which type of aircraft and model has the lowest accident and  fatality rates?
2. How serious are incidents by aircraft type?
3. Are there certain aircraft that can be used in operations in terms of risk?
4. How is the operational factor influencing aircraft risk?

The goal of this project is to help top management and relevant stakeholders like the risk department, finance, operations in the aviation industry to venture in more safer airctrafts that are less risk and more safe and that are still profitable to the business.

In conclusion, the goal of this project is to come up with safer and more profitable aircraft  as they expand in the aviation industry. The aim is to pin point aircrafts that do not pose financial risks and are of low operational risk. The findings of this project will help relevant stakeholders  in coming up with aircraft that are of low cost and low operational exposure. It will enable them to be safer, more strategic in the aviation industry.

 # DATA UNDERSTANDING

The data source for this project is Kaggle:  https://www.kaggle.com/datasets/anandkushawaha/aviation-crashed-flights-data?resource=download.
This data is suitable for this project because it identifies the problems encountered in the aircraft business, specifically in terms of operational and financial risk that is actually faced by stakeholders.

### Importing of libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
#loading the data to understand it
df = pd.read_csv("flight.csv")
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [7]:
#checking the number of rows and columns
df.shape

(2500, 8)

In [10]:
#checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

### Summary of Data
The data contains 2500 rows and 8 columns. The data contains a dtype that needs to be cleaned to the correct data type and also contains missing values that need to be replaced.
The data is currently relevant as it relates to the business problem that we want to solve.I r t currently contains airctraft dataset.
Some of the limitations of this data will be: Having incorrect values, data being small and limited details in the data.

## DATA PREPATATION

## cleaning the data in our csv file

In [11]:
#checking null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

In [12]:
#seeing an overview statistical of our data
df.describe()

        Unnamed: 0
count  2500.000000
mean    624.500000
std     360.915993
min       0.000000
25%     312.000000
50%     624.500000
75%     937.000000
max    1249.000000

In [13]:
#checking how many missing values we have
df.isna().sum()

Unnamed: 0     0
acc.date       0
type           0
reg           92
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [14]:
df

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o
...,...,...,...,...,...,...,...,...
2495,1245,20 Dec 2018,Cessna 560 Citation V,N188CW,Chen Aircrafts LLC,4,"2 km NE of Atlanta-Fulton County Airport, GA (...",w/o
2496,1246,22 Dec 2018,PZL-Mielec M28 Skytruck,GNB-96107,Guardia Nacional Bolivariana de Venezuela - GNBV,0,Kamarata Airport (KTV),sub
2497,1247,24 Dec 2018,Antonov An-26B,9T-TAB,Air Force of the Democratic Republic of the Congo,0,Beni Airport (BNC),w/o
2498,1248,31 Dec 2018,Boeing 757-2B7 (WL),N938UW,American Airlines,0,"Charlotte-Douglas International Airport, NC (C...",sub
2499,1249,unk. date 2018,Rockwell Sabreliner 80,N337KL,private,0,"Eugene Airport, OR (EUG)",sub

In [15]:
#checking for duplicate values
df.duplicated().sum()

1250

#### cleaning the data per column

In [16]:
#cleaning nmissing in 'reg column'
#checking for unique values
print(df['reg'].unique())

['ZS-NRJ' 'HR-AYY' 'EP-CAP' ... '9T-TAB' 'N938UW' 'N337KL']

In [17]:
#viewing some of the middle data to see missing values
df[5:20]

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
5,5,16 Jan 2022,Airbus A320-214 (WL),JA24MC,Star Flyer,0,near Okayama City,non
6,6,19 Jan 2022,Cessna 208B Grand Caravan EX,YV3033,Mahan Air,0,"near Vakilabad, Arzuiyeh",sub
7,7,22 Jan 2022,Airbus A320-232,N760JB,JetBlue Airways,0,"Hayden-Yampa Valley Airport, CO (HDN)",sub
8,8,27 Jan 2022,Bombardier CL-600-2B16 Challenger 604,2-SLOW,Volare Aviation,0,Heraklion-N. Kazantzakis Airport (HER/LGIR),sub
9,9,31 Jan 2022,Bombardier CL-600-2B16 Challenger 604,N999PX,Lima Delta Co Trustee,0,London-Stansted Airport (STN),sub
10,10,31 Jan 2022,Beechcraft B300 King Air 350,C-GEAS,"Air Tindi, opf Royal Canadian Air Force - RCAF",0,"Thunder Bay Airport, ON (YQT)",sub
11,11,2 Feb 2022,Hawker 1000,N207K,Skyview LLC,0,"Islip-Long Island MacArthur Airport, NY (ISP)",sub
12,12,5 Feb 2022,Cessna 208B Grand Caravan,5H-TAZ,Care Aviation,0,New Fangak Airstrip,sub
13,13,7 Feb 2022,Embraer ERJ-190-100LR,OH-LKK,Finnair,0,København-Kastrup Airport (CPH),sub
14,14,8 Feb 2022,Antonov An-26,SP-402,South Sudanese Air Force,0,Agok Airstrip,sub
15,15,11 Feb 2022,Cessna 501 Citation I/SP,LV-JUO,Aviajet SA,0,"Morón-Ituzaingo Airport, BA",sub
16,16,11 Feb 2022,Antonov An-2R,RA-33599,Kamchatsky Krechet,2,"1 km SW of Koryaki, Yelizovsky district, Kamch...",w/o
17,17,14 Feb 2022,Let L-410UVP-E3,9S-GFA,Doren Air Congo,0,Bukavu-Kavumu Airport (BKY),w/o
18,18,15 Feb 2022,ATR 42-500,JA04JC,Japan Air Commuter,0,55 km NNW of Osaka Airport,non
19,19,15 Feb 2022,Britten-Norman BN-2A-9 Islander,N821RR,Air Flamenco,0,Culebra Airport (CPX),sub

In [18]:
#to rectify the nulls in the reg column
# since re is a unique number the issing values we will fill with 'unknown'
df['reg'] = df['reg'].fillna('UNKNOWN')

In [19]:
#confirming if null values have been replaced
df.isna().sum()

Unnamed: 0     0
acc.date       0
type           0
reg            0
operator      14
fat           12
location       0
dmg            0
dtype: int64

In [20]:
#checking for duplicates in reg column
df['reg'].duplicated().sum()

1305

In [21]:
#checking for duplicates  in row form
df[df['reg'].duplicated(keep=False)].sort_values('reg')

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
252,252,2 Mar 2021,Let L-410UVP-E,(HK-4274),South Sudan Supreme Airlines,10,Pieri,w/o
1502,252,2 Mar 2021,Let L-410UVP-E,(HK-4274),South Sudan Supreme Airlines,10,Pieri,w/o
2167,917,11 Nov 2019,British Aerospace BAe-125-700A,(N237DX),private,0,Petén,w/o
917,917,11 Nov 2019,British Aerospace BAe-125-700A,(N237DX),private,0,Petén,w/o
940,940,6 Dec 2019,British Aerospace BAe-125-800A,(N293WB),private,0,"0,4 km NW of Chan Chen, Corozal",w/o
...,...,...,...,...,...,...,...,...
764,764,18 May 2019,Gulfstream American G-1159 Gulfstream II SP,unreg.,private,0,"Chico de Chamorro, Retalhuleu",w/o
384,384,8 Oct 2021,Learjet 35A,unreg.,private,0,"near Little Belize, Corozal",w/o
2050,800,9 Jul 2019,Antonov An-2,unreg.,Unknown,0,"near Raduga, Novoaleksandrovsk District",sub
800,800,9 Jul 2019,Antonov An-2,unreg.,Unknown,0,"near Raduga, Novoaleksandrovsk District",sub
1634,384,8 Oct 2021,Learjet 35A,unreg.,private,0,"near Little Belize, Corozal",w/o

In [22]:
# removing duplicate data that are exact in rows and remaining with one unique valua
df = df.drop_duplicates()

In [23]:
#confriming duplicates again
df['reg'].duplicated().sum()

55

In [24]:
#checking duplicates data to see if there is need to remove them
df[df['reg'].duplicated(keep=False)].sort_values('reg')

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
594,594,16 Aug 2020,Cessna 208B Grand Caravan,5Y-SAV,City Link,0,New Fangak Airstrip,w/o
1040,1040,12 Apr 2018,Cessna 208B Grand Caravan,5Y-SAV,Penial Air,0,"El Barde, Somalia - Wajir, Kenya",sub
463,463,31 Jan 2020,Bombardier DHC-8-402Q Dash 8,C-FKWE,WestJet Encore,0,"Terrace Airport, BC (YXT)",sub
809,809,19 Jul 2019,de Havilland Canada DHC-8-402Q Dash 8,C-FKWE,WestJet Encore,0,"Edmonton International Airport, AB (YEG)",sub
254,254,7 Mar 2021,Embraer EMB-120ER Brasilia,N233SW,Berry Aviation,0,"Detroit-Willow Run Airport, MI (YIP)",sub
...,...,...,...,...,...,...,...,...
936,936,2 Dec 2019,British Aerospace BAe-125-700A,false reg.,private,0,near San Andrés Villa Seca,w/o
611,611,21 Sep 2020,Learjet 35,false reg.,private,0,Santha Martha,w/o
800,800,9 Jul 2019,Antonov An-2,unreg.,Unknown,0,"near Raduga, Novoaleksandrovsk District",sub
384,384,8 Oct 2021,Learjet 35A,unreg.,private,0,"near Little Belize, Corozal",w/o
764,764,18 May 2019,Gulfstream American G-1159 Gulfstream II SP,unreg.,private,0,"Chico de Chamorro, Retalhuleu",w/o

## DATA ANALYSIS